{% extends "base.html" %} {% block content %}
<section
  class="w-3/4 h-3/4 bg-congress-blue-300 flex flex-col items-center justify-center border-4 border-congress-blue-800 rounded-lg p-4 mx-auto mt-10"
>
  <p class="text-5xl">
    Welcome to <i class="fa-solid fa-box-archive"></i>ShareBin!
  </p>
  <p class="text-2xl">
    The most unsecure storage and sharing platform for your notes, files and
    pictures
  </p>
</section>
{% if user %}
<a href="/note/new" class="text-blue-500 hover:underline">Create New Note</a>
{% if notes %} {% for note in notes %}
<div class="max-w-xl mx-auto bg-white p-6 rounded-xl shadow mb-4">
  <h2 class="text-2xl font-bold mb-2">{{ note[2] }}</h2>
  <p class="text-sm mb-4">By {{ note[1] }}</p>
  <a href="/note/{{ note[0] }}" class="text-blue-600 hover:underline"
    >View Note</a
  >
</div>

{% endfor %} {% else %}
<p class="text-center text-gray-500">No notes available. Create a new note!</p>
{% endif %} {% endif %} {% endblock %}
