{% extends "base.html" %} {% block content %}

<div class="flex flex-row w-full h-full max-h-full justify-around pb-2">
  <section
    class="w-[47%] h-auto max-h-full overflow-scroll bg-congress-blue-700/30 backdrop-blur-lg shadow-lg flex flex-col justify-start items-center rounded-lg p-4"
  >
    <h2 class="text-2xl font-bold mb-4">All Public Notes</h2>
    <form method="get" class="mb-4 flex flex-row justify-center items-center">
      <input
        type="text"
        name="q"
        placeholder="Search notes..."
        value="{{ search_query }}"
        class="w-full border p-2 rounded-l"
      />
      <button
        type="submit"
        name="search"
        class="bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-600"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <div class="flex flex-col overflow-scroll w-full">
      {% for note in public_notes %}

      <div class="w-4/5 mx-auto bg-congress-blue-50 p-6 rounded-xl shadow mb-4">
        <h2 class="text-2xl font-bold mb-2">{{ note[2] }}</h2>
        <p class="text-lg text-congress-blue-950 mb-2">{{ note[3] }}</p>
        <p class="text-sm text-congress-blue-950/50 mb-4">By {{ note[1] }}</p>
        <a
          href="/note/{{ note[0] }}"
          class="text-congress-blue-700 hover:underline"
          >View Note</a
        >
      </div>

      {% endfor %}
    </div>
    {% if not public_notes %} {% if search_query %}
    <p class="text-center text-congress-blue-950/70">
      No notes found for "{{ search_query }}"
    </p>
    {% else %}
    <p class="text-center text-gray-500">
      No notes available. Create a new note!
    </p>
    <a
      href="/note/new"
      class="rounded-xl text-xl bg-congress-blue-300 py-4 px-8 mt-4 text-congress-blue-900 hover:bg-congress-blue-400"
      >Create Note</a
    >
    {% endif %} {% endif %}
  </section>
  <div class="w-[47%] flex flex-col justify-between items-center">
    <section
      class="w-full h-[49%] text-congress-blue-50 bg-congress-blue-800/50 backdrop-blur-lg shadow-lg flex flex-col justify-start items-center rounded-lg p-4 overflow-scroll"
    >
      <div class="flex flex-row w-full justify-between items-center mb-4">
        <a
          href="/note/new"
          class="bg-congress-blue-300 rounded-xl text-xl py-2 px-4 text-congress-blue-900 hover:bg-congress-blue-400"
        >
          <i class="fa-solid fa-plus"></i
        ></a>
        <h2 class="text-2xl font-bold flex-grow text-center">Your notes</h2>
        <div class="w-10"></div>
      </div>

      {% for note in my_notes %}
      <div
        class="w-4/5 mx-auto text-congress-blue-950 bg-congress-blue-50 p-6 rounded-xl shadow mb-4"
      >
        <h2 class="text-xl font-bold mb-2">{{ note[2] }}</h2>
        <p class="text-md text-congress-blue-950 mb-2">{{ note[3] }}</p>
        <p class="text-sm text-congress-blue-950/50 mb-4">By {{ note[1] }}</p>
        <a
          href="/note/{{ note[0] }}"
          class="text-congress-blue-700 hover:underline text-sm"
          >View Note</a
        >
      </div>
      {% endfor %} {% if not my_notes %} {% if user %}
      <p class="text-center text-congress-blue-50/70">
        No notes available. Create a new note!
      </p>
      <a
        href="/note/new"
        class="rounded-xl text-xl bg-congress-blue-300 py-4 px-8 mt-4 text-congress-blue-900 hover:bg-congress-blue-400"
        >Create Note</a
      >
      {% else %}
      <p class="text-center text-congress-blue-50/70">
        No notes available. Log in to see your notes!
      </p>
      <a
        href="/note/new"
        class="rounded-xl text-xl bg-congress-blue-300 py-4 px-8 mt-4 text-congress-blue-900 hover:bg-congress-blue-400"
        >Sign In</a
      >
      {% endif %} {% endif %}
    </section>
    <section
      class="w-full h-[49%] text-congress-blue-50 bg-congress-blue-900/70 backdrop-blur-lg shadow-lg flex flex-col justify-start items-center rounded-lg p-4 overflow-scroll"
    >
      <div>
        <h2 class="text-2xl font-bold mb-4">Friends' Notes</h2>
      </div>

      {% if friend_notes %} {% for note in friend_notes %}
      <div
        class="w-4/5 mx-auto text-congress-blue-950 bg-congress-blue-50 p-6 rounded-xl shadow mb-4"
      >
        <h2 class="text-xl font-bold mb-2">{{ note[2] }}</h2>
        <p class="text-md text-congress-blue-950 mb-2">{{ note[3] }}</p>
        <p class="text-sm text-congress-blue-950/50 mb-4">By {{ note[1] }}</p>
        <a
          href="/note/{{ note[0] }}"
          class="text-congress-blue-700 hover:underline text-sm"
          >View Note</a
        >
      </div>
      {% endfor %} {% else %}
      <p class="text-center text-congress-blue-50/70">
        No friends' notes available. Add friends to see their notes!
      </p>
      <a
        href="/social"
        class="rounded-xl text-xl bg-congress-blue-300 py-4 px-8 mt-4 text-congress-blue-900 hover:bg-congress-blue-400"
        >Social</a
      >
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}
